


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
body 
{
  font-family: "Space Mono",  times; 
  background: #b9b9b9;
  

}
p{
font-size: 10px;
color:#444;
margin-top: 8px;
}
a{
display: inline-block;
margin:top;
text-decoration: none;
color:purple;
}